langchain_openai==0.2.2  # Latest compatible version
openai==1.59.4           # Latest OpenAI library
python-dotenv==1.0.0     # For environment variable management (optional)
httpx==0.25.1            # Required dependency for OpenAI
tqdm==4.67.0             # For progress bars (optional)


#openai
pandas==2.1.3
numpy==1.26.2
transformers==4.35.2
torch==2.5.1
moviepy==1.0.3
gtts==2.3.2
matplotlib==3.8.2
kaggle==1.5.16
clearml
PyPDF2
python-docx
#langchain-openai
pydantic
pydantic-core
langchain-core==0.3.29
langchain
spacy
prometheus_client
fastapi
uvicorn
gradio
pydub
elevenlabs
